.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore images
*.png
*.pdf
# ignore some files
global_richness_summary.csv
thresholding/r1c1_topcells.csv
thresholding/r1c2_topcells.csv
thresholding/r2c1_topcells.csv
thresholding/r2c2AA_topcells.csv
thresholding/r2c2ABA_topcells.csv
thresholding/r2c2ABB_topcells.csv
thresholding/r2c2B_topcells.csv
thresholding/r2c3_topcells.csv
thresholding/r2c4_topcells.csv
thresholding/r3c2_topcells.csv
thresholding/r3c3_topcells.csv
5yr_summary/
5yr_summary/._r1c1_SR.csv
5yr_summary/._r1c1_SR.csv
5yr_summary/._r1c1_SR.csv
5yr_summary/._r1c2_SR.csv
5yr_summary/._r1c3_SR.csv
5yr_summary/._r1c4_SR.csv
5yr_summary/._r1c1_SR.csv
5yr_summary/._r1c2_SR.csv
5yr_summary/._r4c4_SR.csv
5yr_summary/._r4c3_SR.csv
5yr_summary/._r2c2B_SR.csv
5yr_summary/._r2c3_SR.csv
5yr_summary/._r2c4_SR.csv
5yr_summary/._r3c1_SR.csv
5yr_summary/._r3c2_SR.csv
5yr_summary/._r3c3_SR.csv
5yr_summary/._r3c4_SR.csv
5yr_summary/._r4c1_SR.csv
5yr_summary/._r4c2_SR.csv
5yr_summary/._r4c3_SR.csv
5yr_summary/._r4c4_SR.csv
._.gitignore
._global_richness_summary.csv
5yr_summary_5km
thresholding_5km/
4K_samp_slxmod.rds
50K_samp_lmmod.rds
50K_samp_slxmod.rds
global_unique_species.csv
._global_unique_species.csv
global_unique_sp.txt
unique_sp_dietspec.txt
unique_sp_habitatbreadth.txt
._global_unique_sp.txt
summer_unique_species.txt
winter_unique_species.txt
