r1c1_topcells_sum.csv
r1c3_topcells_sum.csv
r1c2_topcells_sum.csv
r2c1_topcells_sum.csv
r2c2AA_topcells_sum.csv
r2c2ABA_topcells_sum.csv
r2c2ABB_topcells_sum.csv
r2c2B_topcells_sum.csv
r2c3_topcells_sum.csv
r2c4_topcells_sum.csv
r3c2_topcells_sum.csv
r3c3_topcells_sum.csv
r3c4_topcells_sum.csv
